In [1]:
import covsirphy as cvp
import pandas as pd
import numpy as np

In [29]:
country = 'Italy'

In [30]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/full_grouped.csv')
data = data[data['Country/Region'] == country].reset_index()
data = data[data['Confirmed'] > 0]

In [31]:
data = data.fillna(0)

In [32]:
df = pd.read_csv('./population_2020.csv')

In [33]:
population = df[df['Country (or dependency)'] == country]['Population (2020)']

In [34]:
population = int(population)
print(population)

60479424

In [35]:
num_sample = len(data)

In [36]:
population = [population for _ in range(num_sample)]

In [37]:
data['Population'] = population

In [38]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population
183,34306,2020-07-23,Italy,245338,35092,197842,12404,306,10,214,Europe,60479424
184,34493,2020-07-24,Italy,245590,35097,198192,12301,252,5,350,Europe,60479424
185,34680,2020-07-25,Italy,245864,35102,198320,12442,274,5,128,Europe,60479424
186,34867,2020-07-26,Italy,246118,35107,198446,12565,254,5,126,Europe,60479424
187,35054,2020-07-27,Italy,246286,35112,198593,12581,168,5,147,Europe,60479424

In [39]:
data['Susceptiple'] = data['Population'] - data['Confirmed']

In [40]:
data['Log susceptiple'] = np.log(data['Susceptiple'])

In [41]:
data.tail()

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple
183,34306,2020-07-23,Italy,245338,35092,197842,12404,306,10,214,Europe,60479424,60234086,17.913749
184,34493,2020-07-24,Italy,245590,35097,198192,12301,252,5,350,Europe,60479424,60233834,17.913745
185,34680,2020-07-25,Italy,245864,35102,198320,12442,274,5,128,Europe,60479424,60233560,17.913740
186,34867,2020-07-26,Italy,246118,35107,198446,12565,254,5,126,Europe,60479424,60233306,17.913736
187,35054,2020-07-27,Italy,246286,35112,198593,12581,168,5,147,Europe,60479424,60233138,17.913733

In [42]:
susceptiple = np.asarray(data['Susceptiple'])

In [43]:
new_susceptiple = susceptiple[:-1] - susceptiple[1:]

In [44]:
new_susceptiple = np.insert(new_susceptiple, 0, 0)

In [45]:
data['Decresed susceptiple'] = new_susceptiple

In [46]:
data.head(100)

,index,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,1768,2020-01-31,Italy,2,0,0,2,2,0,0,Europe,60479424,60479422,17.917814,0
10,1955,2020-02-01,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
11,2142,2020-02-02,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
12,2329,2020-02-03,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
13,2516,2020-02-04,Italy,2,0,0,2,0,0,0,Europe,60479424,60479422,17.917814,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,19533,2020-05-05,Italy,213013,29315,85231,98467,1075,236,2352,Europe,60479424,60266411,17.914285,1075
105,19720,2020-05-06,Italy,214457,29684,93245,91528,1444,369,8014,Europe,60479424,60264967,17.914262,1444
106,19907,2020-05-07,Italy,215858,29958,96276,89624,1401,274,3031,Europe,60479424,60263566,17.914238,1401
107,20094,2020-05-08,Italy,217185,30201,99023,87961,1327,243,2747,Europe,60479424,60262239,17.914216,1327
108,20281,2020-05-09,Italy,218268,30395,103031,84842,1083,194,4008,Europe,60479424,60261156,17.914198,1083

In [47]:
data = data.drop(columns=['WHO Region', 'Country/Region', 'index'])

In [48]:
data.head(10)

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Population,Susceptiple,Log susceptiple,Decresed susceptiple
9,2020-01-31,2,0,0,2,2,0,0,60479424,60479422,17.917814,0
10,2020-02-01,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
11,2020-02-02,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
12,2020-02-03,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
13,2020-02-04,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
14,2020-02-05,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
15,2020-02-06,2,0,0,2,0,0,0,60479424,60479422,17.917814,0
16,2020-02-07,3,0,0,3,1,0,0,60479424,60479421,17.917814,1
17,2020-02-08,3,0,0,3,0,0,0,60479424,60479421,17.917814,0
18,2020-02-09,3,0,0,3,0,0,0,60479424,60479421,17.917814,0

In [49]:
data.to_csv(country+'.csv')