In [37]:
import covsirphy as cvp
import pandas as pd
import numpy as np

In [49]:
state = 'New York'

In [3]:
data = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/usa_county_wise.csv')
data = data[data['Province_State'] == state].reset_index()
data = data[data['Confirmed'] > 0]

In [6]:
data = data.groupby(['Date'])['Confirmed', 'Deaths'].sum().reset_index()

/home/ledat/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [7]:
data.head()

      Date  Confirmed  Deaths
0  3/10/20        150       0
1  3/11/20        220       1
2  3/12/20        327       1
3  3/13/20        421       2
4  3/14/20        613       5

In [9]:
df = pd.read_csv('./covid_19_jhu_data_web_scrap_and_cleaning/time_series_covid19_deaths_US.csv')

In [15]:
population = df[df['Province_State'] == state]['Population'].sum()

In [17]:
population

26161672

In [18]:
num_sample = len(data)

In [19]:
population = [population for _ in range(num_sample)]

In [20]:
data['Population'] = population

In [21]:
data.tail()

       Date  Confirmed  Deaths  Population
134  7/5/20     397131   32206    26161672
135  7/6/20     397649   32219    26161672
136  7/7/20     398237   32243    26161672
137  7/8/20     398929   32251    26161672
138  7/9/20     399513   32283    26161672

In [22]:
data['Susceptiple'] = data['Population'] - data['Confirmed']

In [23]:
data['Log susceptiple'] = np.log(data['Susceptiple'])

In [24]:
data.tail()

       Date  Confirmed  Deaths  Population  Susceptiple  Log susceptiple
134  7/5/20     397131   32206    26161672     25764541        17.064510
135  7/6/20     397649   32219    26161672     25764023        17.064490
136  7/7/20     398237   32243    26161672     25763435        17.064467
137  7/8/20     398929   32251    26161672     25762743        17.064440
138  7/9/20     399513   32283    26161672     25762159        17.064417

In [25]:
susceptiple = np.asarray(data['Susceptiple'])

In [26]:
new_susceptiple = susceptiple[:-1] - susceptiple[1:]

In [27]:
new_susceptiple = np.insert(new_susceptiple, 0, 0)

In [28]:
data['Decresed susceptiple'] = new_susceptiple

In [29]:
data.head(100)

,Date,Confirmed,Deaths,Population,Susceptiple,Log susceptiple,Decresed susceptiple
0,3/10/20,150,0,26161672,26161522,17.079800,0
1,3/11/20,220,1,26161672,26161452,17.079798,70
2,3/12/20,327,1,26161672,26161345,17.079793,107
3,3/13/20,421,2,26161672,26161251,17.079790,94
4,3/14/20,613,5,26161672,26161059,17.079783,192
...,...,...,...,...,...,...,...
95,6/13/20,382630,31441,26161672,25779042,17.065072,916
96,6/14/20,383324,31468,26161672,25778348,17.065045,694
97,6/15/20,383944,31498,26161672,25777728,17.065021,620
98,6/16/20,384575,31553,26161672,25777097,17.064997,631
99,6/17/20,385142,31579,26161672,25776530,17.064975,567

In [34]:
data = data.drop(columns=['WHO Region', 'Country/Region', 'index'])

KeyError: "['WHO Region' 'Country/Region' 'index'] not found in axis"

In [32]:
data.head(10)

,Date,Confirmed,Deaths,Population,Susceptiple,Log susceptiple,Decresed susceptiple
0,3/10/20,150,0,26161672,26161522,17.079800,0
1,3/11/20,220,1,26161672,26161452,17.079798,70
2,3/12/20,327,1,26161672,26161345,17.079793,107
3,3/13/20,421,2,26161672,26161251,17.079790,94
4,3/14/20,613,5,26161672,26161059,17.079783,192
5,3/15/20,615,10,26161672,26161057,17.079782,2
6,3/16/20,967,21,26161672,26160705,17.079769,352
7,3/17/20,1578,35,26161672,26160094,17.079746,611
8,3/18/20,3038,60,26161672,26158634,17.079690,1460
9,3/19/20,5704,92,26161672,26155968,17.079588,2666

In [33]:
data.to_csv(state+'.csv')